* {
	box-sizing: border-box;
}

h1 {
	color: rebeccapurple;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
}

.container {
	background-color: #ddd;
	padding: 1em .5em 0 .5em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.card {
	flex-basis: 18%;
	height: 20vh;
	font-size: 2em;
	position: relative;
	cursor: pointer;
	margin: 0 0 .5em 0;
	&.face-up {
		.card-front {
			transform: rotateY(-180deg);
		}
		.card-back {
			transform: rotateY(0);
		}
	}
	.card-front,
	.card-back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 20vh;
		backface-visibility: hidden;
		transition: transform 0.3s;
		justify-content: flex-end;
		border-radius: 4px;
	}
	.card-front {
		border: solid 6px rgba(255, 255, 255, 0.5); 
		background-color: #556;	//http://lea.verou.me/css3patterns/#japanese-cube
		background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
		background-size: 80px 140px;
		background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
	}
	.card-back {
		background: white;
		border: solid 6px rgba(0, 0, 0, 0.2);
		transform: rotateY(-180deg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}