* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  color: rebeccapurple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center; }

.container {
  background-color: #ddd;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  height: 20vh;
  font-size: 2em;
  position: relative; }
  .card.face-up .card-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card.face-up .card-back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  .card .card-front,
  .card .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-radius: 4px; }
  .card .card-front {
    border: solid 6px rgba(255, 255, 255, 0.5);
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; }
  .card .card-back {
    background: white;
    border: solid 6px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
